* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#rest-countries-container {
    width: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.each-card {
    width: 300px;
    height: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    word-wrap: break-word;
}

.card-image {
    height: 150px;
    width: 100%;
}

.country-name {
    text-align: center;
    margin-top: 15px;
    font-weight: 900;
    color: crimson;
}

.card-text {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-information {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    margin-top: 15px;
}


.card-button {
    background-color: rgb(255, 218, 185);
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;

}

.card-button:hover {
    background-color: rgb(12, 241, 126);
    color: white;
}